<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <title>Twitter Home</title>
  </head>
  <body>
    <div class="container">
      <div class="home-container">
        <div class="home-title">
          <h1>Welcome</h1>
        </div>
        <div class="home-btns">
          <a href="/login" class="home-btn">Log In</a>
          <a href="/signup" class="home-btn">Sign Up</a>
        </div>
      </div>
    </div>
  </body>
</html>
