<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <title>Twitter Sign Up</title>
  </head>
  <body>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <div class="container">
      <div class="form-container">
        <form class="signup-form" action="/signup" method="post">
          <h2 class="form-title">Sign Up</h2>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="userName" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
          </div>
          <div class="form-group">
            <label for="password-confirm">Confirm Password</label>
            <input type="password" id="password-confirm" name="confirmPassword" required>
          </div>
          <button class="form-submit-btn" type="submit">Sign Up</button>
        </form>
        <a href="/" class="back-btn">Back</a>
      </div>
    </div>
  </body>
</html>
